h1 {
    color: blue;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    border: red 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 65%;
    height: 40%;
    gap: 20px;
    border: 2px solid blue;
}

.div-holder,
.holder {
    max-width: 250px;
    max-height: 300px;
}